* {
    box-sizing: border-box;
    transition: all .1s ease-in;
    line-height: 1;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    border: 25px solid #2B81AC;
    background-color: #3399CC;
    color: #fff;
    font-family: Lucida Sans Unicode;
    font-size: 16px;
    padding: 15px;
}
.weather {
    width: 300px;
    height: 150px;
    background-color: lightseagreen;
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}

.weather__header {
    flex: 0 0  auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    
}
.weather__center {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}